body {
	font-family: sans-serif;
	min-width:357px;
	overflow-x:hidden;
	background: #eee;
}
.credentials ul {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	list-style-position: inside;
}
.credentials li {
	list-style: none;
	padding-left: 10px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 5px;
}
.credentials a {
	cursor: pointer;
	display: block;
	color: #336;
}
.credentials li:hover {
	cursor: pointer;
	background: #ccc;
}

.settings {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #333;
	font-size: 90%;
}
.settings label {
	display: block;
}
.settings label input {
	vertical-align: middle;
}
.settings .description {
	margin-top: 3px;
	font-size: 80%;
	color: #787878;
}